<ion-view class="pane login-bg">
    <ion-content data-component="crn-ion-content" class="scroll-content" style="padding: 0px;">

        <div data-replace="true" data-component="crn-container" class="containerMobile " id="crn-container-445023">
            <h1 data-component="crn-heading" class="component-holder" id="crn-heading-reset">{{'ForgotPassword' | translate}}</h1>

            <form crn-datasource="" data-component="crn-form">
                <div class="component-holder ng-binding ng-scope list-inset login-mobile" data-component="crn-form" id="crn-form-reset-password">

                    <span id="reset-password-label">{{'ForgotPasswordEmail' | translate}}</span>

                    <div class="item item-input component-holder" data-component="crn-input" id="crn-input-resetPasswordEmail">
                        <input type="email" ng-model="vars.resetPasswordEmail" id="resetPasswordEmail" aria-label="{{'Signup.view.Email' | translate}}" placeholder="{{'Signup.view.Email' | translate}}" mask="" keyboard="email">
                    </div>

                    <div class="padding-bottom">
                        <a href="#/app/public/reset-password"  id="reset-password-login" class="component-holder" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" on-hold="">{{'AlreadyHaveOTP' | translate}}</a>
                    </div>

                    <button aria-label="{{'Submit' | translate}}" class="button button-positive component-holder buttonFooter button-full" type="submit" xattr-fullsize="button-full" xattr-theme="button-positive" ng-click="cronapi.client('js.blockly.auth.UserControl.resetPassword').names('7b9f3909').run(vars.resetPasswordEmail)" data-component="crn-button" id="button-reset-password" xattr-size=""><span>{{'Submit' | translate}}</span> </button>

                    <a href="#/app/login" aria-label="{{'Signup.view.Back' | translate}}" class="" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="go-back-login">{{'Signup.view.Back' | translate}}</a>

                </div>
            </form>
        </div>
    </ion-content>
</ion-view>