<ion-view class="pane login-bg">
    <ion-content data-component="crn-ion-content" class="scroll-content" style="padding: 0px;">
        <div data-replace="true" data-component="crn-container" class="containerMobile " id="crn-container-445023">
            <h1 data-component="crn-heading" class="component-holder" id="crn-heading-reset">{{'ResetPassword' | translate}}</h1>

            <form crn-datasource="" data-component="crn-form">
                <div class="component-holder ng-binding ng-scopelist list-inset login-mobile" data-component="crn-form" id="crn-form-reset-password">

                    <div class="item item-input component-holder" data-component="crn-input" id="crn-input-otp">
                        <input type="text" ng-model="vars.otp" id="otp" aria-label="{{'OTPAuthenticationCode' | translate}}" placeholder="{{'OTPAuthenticationCode' | translate}}" mask="AAA  AAA  AAA" >
                    </div>

                    <div class="item item-input component-holder" data-component="crn-input" id="crn-input-passwordNew">
                        <input autocomplete="off" type="password" ng-model="vars.newPassword" id="passwordNew" aria-label="{{'ResetPasswordNew' | translate}}" placeholder="{{'ResetPasswordNew' | translate}}" mask="" keyboard=password>
                    </div>

                    <div class="item item-input component-holder" data-component="crn-input" id="crn-input-passwordConfirmation">
                        <input autocomplete="off" type="password" ng-model="vars.newPasswordConfirmation" id="passwordConfirmation" aria-label="{{'ResetPasswordConfirmation' | translate}}" placeholder="{{'ResetPasswordConfirmation' | translate}}" mask="" keyboard="password">
                    </div>

                    <button aria-label="{{'ResetPassword' | translate}}" class="button button-light component-holder buttonFooter button-full" type="submit" xattr-fullsize="button-full" xattr-theme="button-light" ng-click="resetPasswordWithOTP(vars)" data-component="crn-button" id="button-reset-password" xattr-size=""><span>{{'ResetPassword' | translate}}</span> </button>

                    <a href="#/app/login" aria-label="{{'Signup.view.Back' | translate}}" class="" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="go-back-login">{{'Signup.view.Back' | translate}}</a>

                </div>
            </form>
        </div>
    </ion-content>
</ion-view>