<style title="local">
div#crn-navbar-986427 .navbar-default .navbar-brand { 
  background: rgb(7, 133, 5);
}

div#crn-navbar-986427 .navbar-default .navbar-nav li a { 
  background: rgb(7, 133, 5);
}

div#crn-navbar-986427 .navbar { 
  background: rgb(7, 133, 5);
}
</style><div class="jumbotron jumbotron-fluid main-title">
    <h2 class="component-holder text-left" xattr-position="text-left" data-component="crn-subtitle" id="crn-subtitle-814474">HUB</h2>
</div>
<div class="component-holder ng-binding ng-scope crn-navigator-horizontal" data-component="crn-navbar" id="crn-navbar-986427" style="">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
         <a class="component-holder ng-binding ng-scope navbar-brand" data-component="crn-image" ng-click="cronapi.screen.changeView('#/home/public/home', [])"> <img alt="{{'Home.view.Home' | translate}}" src="public/assets/Modulo-HUB-logo.png" id="crn-navbar-logo" data-component="crn-image" object-fit="object-fit: fill;" style="object-fit: fill;"> </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="float:none">
            <li>
                 <cron-dynamic-menu id="crn-dynamic-menu" class="component-holder" data-component="crn-dynamic-menu" options="{&quot;subMenuOptions&quot;:[{&quot;id&quot;:&quot;1ibbiesf7w94g&quot;,&quot;name&quot;:&quot;Home&quot;,&quot;title&quot;:&quot;Home&quot;,&quot;iconClass&quot;:&quot;fa fa-home&quot;,&quot;action&quot;:&quot;cronapi.screen.changeView('#/home/public/home', [])&quot;,&quot;level&quot;:1,&quot;textPosition&quot;:&quot;left&quot;,&quot;imagePosition&quot;:&quot;left&quot;,&quot;contentTheme&quot;:&quot;light&quot;,&quot;iconTheme&quot;:&quot;light&quot;,&quot;menuItems&quot;:[]}]}"> Dynamic Menu</cron-dynamic-menu>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div ui-view="" class="container-fluid main-view main-view-horizontal">
  <h1 class="title text-left h3" xattr-position="text-left" xattr-type="h3" data-component="crn-text-component" id="crn-text-component-public-home">{{'Home.view.Home' | translate}}</h1>
</div>